$padding: 4px;
$height: 36px;
$toolbar-background: white; //#f5f5f5
.md-toolbar{
  height: $height;
  background: $toolbar-background;
  // margin-bottom: 16px;
  overflow-x: auto;
  ul.md-toolbar{
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 0 $padding;
    li{
      float: left;
      position: relative;
      display: inline-block;
      height: $height;
      padding: $padding 0;
      font-size: 13px;
      .separator{
        float: left;
        width: 20px;
        background: red;
      }
      .ctrl{
        float: left;
        height: $height - 2*$padding;
        position: relative;
        line-height: $height - 2*$padding;
        width: $height - 2*$padding;
        text-align: center;
        margin-left: 3px;
        // background: green;
        &:hover{
          // box-shadow: inset 1px 1px 1px #ddd, inset -1px -1px 1px #ddd;
          background: #ededed;
          cursor: pointer;
        }
        &:active{
          // box-shadow: inset 1px 1px 1px #aaa, inset -1px -1px 1px #aaa;
          background: #ddd;
          cursor: pointer;
        }
        &:hover + .downarrow{
          background: #ededed;
        }
        &:active + .downarrow{
          // background: #ddd;
        }
        .i{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 0.8em;
        }
      }
      .downarrow{
        float: left;
        height: $height - 2*$padding;
        position: relative;
        line-height: $height - 2*$padding;
        width: 16px;
        text-align: center;
        margin-left: 3px;
        left: -3px;
        &:hover{
          // box-shadow: inset 1px 1px 1px #ddd, inset -1px -1px 1px #ddd;
          background: #ededed;
          cursor: pointer;
        }
        &:active{
          // box-shadow: inset 1px 1px 1px #aaa, inset -1px -1px 1px #aaa;
          background: #ddd;
          cursor: pointer;
        }
        &:hover ~ .ctrl{
          background: #ededed;
        }
        &:active + .ctrl{
          // background: #ddd;
        }
        .i{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 0.6em;
        }
      }
    }
  }
}