.read-course-notes{
  height: 100%;
  overflow: hidden;
}
.read-sidebar-note{
  width: 250px;
  position: fixed;
  height: calc(100% - 50px);
  background-color: rgba(200,200,200,0.1);
}
.h100p{
  height: 100%;
}
.read-note-content{
  width: calc(100% - 250px);
  z-index: 10;
  height: 100%;
  position: relative;
  .read-note-reading-space{
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
  }
  .read-note-reader{
    position: absolute;
    // position: fixed;
    top: 0;
    // background: red;
    z-index: 10 ;
    top: 80px;
    margin-left: 1px;
    width: 60px;
    height: calc(100% - 80px);
    // height: 100%;
    &.reader-go-next{
      right: 15px;
    }
    &.reader-go-prev{
      left: 3px;
    }
    i.go-prev, i.go-next{
      position: absolute;
      top: calc(50% - 30px);
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 70px;
      color: #e3e3e3;
    }
    &:hover{
      i.go-next{
        color: #aaa;
      }
      i.go-prev{
        color: #aaa;
      }
    }
  }
  .note-reader-toolbar{
    display: inline-block;
    z-index: 200;
    padding: 2px 5px;
    // background: red;
    i{
      font-size: 22px;
      &:hover{
        background: #e3e3e3;
      }
    }
  }
}

.p-lr-80{
  padding: 0 80px;
}
