.course-notes{
  // margin-top: 1px;
  height: 100%;
  overflow: hidden;
}
.sidebar-note{
  // width: 250px;
  width: 250px;
  height: 100%;
}
.h100p{
  height: 100%;
}
.note-content{
  position: absolute;
  width: calc(100% - 250px);
  height: 100%;
  overflow: hidden;
  height: calc(100% - 50px);
  // background: red;
}
.edit-area{
  width: 100%;
  // height: 200px;
  border: 1px solid black;
  height: 100%;
}

.note-reading-space{
  // border-top: 1px solid #e3e3e3 ;
  // padding: 0 1px;
  box-sizing: border-box;
  height: 100%;
}

.note-reading-space .c-editor-item-u-modal{
  height: 100%;
}
.note-reading-space .c-editor-item-u-modal .md-edit-area{
  height: calc(100% - 18px); // !!!BAD CODE
  textarea {
    box-shadow: inset 0 0 10px #e8ebff;
    &:focus{
      box-shadow: inset 0 0 16px #d3d9ff;
    }
  }
}

.note-reading-space .c-editor-item-u-modal .md-view
{
  padding: 24px 24px;
}

.note-reading-space .c-editor-item-u-modal .c-editor-item-u-content{
  padding: 24px 100px;
}
.note-reading-space .c-editor-item-u-modal .md-textarea{
  // min-height: 500px;
  // height: calc(100%);
}
.note-reading-space .c-editor-item-u-modal.edited .c-editor-item-u-content{
  padding: 0 16px;
}
.note-reading-space .c-editor-item-u-modal{
  border-top: 1px solid #e3e3e3;
}
.note-reading-space .c-editor-item-u-modal.edited{
  border: 1px solid #e3e3e3; 
  .md-view{
    padding: 24px 24px;
  }
 .c-editor-item-u-header {
  border: none;
 }
}
.c-editor-item-u-content
.note-reading-space .c-editor-item-u-modal .c-editor-item-u-header{
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
.note-reading-space .c-editor-item-u-modal .c-editor-item-u-footer{
  height: 0;
}

.note-editor{
  position: absolute;
  // position: fixed;
  top: 0;
  // background: red;
  z-index: 10 ;
  top: 80px;
  margin-left: 1px;
  width: 60px;
  height: calc(100% - 80px);
  // height: 100%;
  &.editor-go-next{
    right: 15px;
  }
  &.editor-go-prev{
    left: 3px;
  }
  i.go-prev, i.go-next{
    position: absolute;
    top: calc(50% - 30px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #f9f9f9;
  }
  &:hover{
    i.go-next{
      color: #e3e3e3;
    }
    i.go-prev{
      color: #e3e3e3;
    }
  }
}

